@page "/counter"

@inject IRenderModeAdjuster Modes

<PageTitle>Counter</PageTitle>

<h1>Hello, Counter!</h1>

@{ /* TODO: 03 Enable interactivity */ }
@* <CounterThing @rendermode="Modes.Adjust(InteractiveAuto)" /> *@
<CounterThing />
