@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Hello, Counter!</h1>

@{ /* TODO: 06 [Render Mode] Add '@rendermode="InteractiveServer"' */ }
@{ /* TODO: 09 [Render Mode] Add '@rendermode="InteractiveWebAssembly"' */ }
<CounterThing @rendermode="InteractiveWebAssembly" />

